work/
.nextflow*
data/
data/*.fastq
data/*.fastq.gz
refs/
refs/*.fa
refs/*.fa.gz
refs/salmon_index/
results/
results/fastp/
results/fastqc/
results/salmon/
results/multiqc/
jdk17.tar.gz
report/*.rtf
report/*.txt
*.pyc
__pycache__/
.DS_Store
