// nextflow.config for DMD RNA-seq pipeline

params {
  samplesheet = 'samplesheet.csv'   // Path to sample sheet
  outdir = 'results'                // Output directory
  salmon_index = "${projectDir}/refs/salmon_index"// Salmon index directory
}

process {
  executor = 'local' // Use local executor by default
  cpus = 4
  memory = '8 GB'
  time = '2h'
  withName:FASTQC {
    conda = 'bioconda::fastqc=0.12.1'
  }
  withName:FASTP {
    conda = 'bioconda::fastp=0.23.4'
  }
  withName:SALMON {
    conda = 'bioconda::salmon'
  }
  withName:MULTIQC {
    conda = 'bioconda::multiqc=1.17'
  }
  withName:EXPR_MATRIX {
    conda = 'conda-forge::python=3.10 conda-forge::pandas'
  }
}

profiles {
  docker {
    process.container = 'biocontainers/biocontainers:latest'
    docker.enabled = true
  }
  conda {
    conda.enabled = true
  }
}
